@import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);


html, body {
	margin: 0px;
	padding: 0px;
}

header{
	text-align: center;
}

.content{
	height: 1000px;
	text-align: center;
	opacity: 0.6;
}
.couple{
	width: 800px;
	height: auto;
}


.login-btn{
	border: none;
	outline: none;
	color: skyblue;
	font-family: 'Jeju Gothic', cursive;
	font-size: small;
	padding-right: 25px;
	padding-left: 25px;
	padding-top: 20px;
	padding-bottom: 0px;
	background: white;
}

.login-btn:hover{
	color: darkviolet;
	cursor: pointer;
}

.logo{
	height: 100px;
}


nav {
	height: 60px;
	width: 100%;
	background-color: white;
	position: sticky;
	top: 0;
	z-index: 1;
}

nav div {
	width: 80%;
	margin-left: 11%;
	height: 50px;
	overflow: hidden;
	float: left;
	text-align: center;
	background: white;
}

nav div ul {
	position: relative;
	top: 0px;
	padding-left: 0;
	float: left;
	width:33%;
	margin: 0;
	height: 160px;
	display: inline-block;
	list-style: none;
	vertical-align: top;
	font-family: 'Jeju Gothic', cursive;
	background: white;
}


nav ul li p{
	color: rgb(51, 85, 139);
	height: 20px;
	letter-spacing: 2px;
	font-size: 20px;
}

nav ul li p:hover{
	color: darkviolet;
	cursor: default;
}

nav ul li a {
	position: relative;
	top: 10px;
	background: white;
	width: 31%;
	text-decoration: none;
	display: block;
	text-align: left;
	width: 29%;
}

.column a:hover {
	color: orange;
	color: skyblue;
	line-height: 20px;
	letter-spacing: 2px;
	font-size: 15px;
}

nav ul li a:hover{
	color: darkviolet;
	coursor: default;
}

nav div:hover {
	overflow: visible;
	background: white;
	display: inline-block;
	z-index: 1;
}