<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>semi_test</display-name>
  
  <servlet>
  	<servlet-name>boardController</servlet-name>
  	<servlet-class>com.between.controller.TbBoardServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>boardController</servlet-name>
  	<url-pattern>/TbBoard.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>calController</servlet-name>
  	<servlet-class>com.between.controller.TbCalServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>calController</servlet-name>
  	<url-pattern>/TbCal.do</url-pattern>
  </servlet-mapping>
  
   <servlet>
  	<servlet-name>TbUsercontroller</servlet-name>
  	<servlet-class>com.between.controller.TbUserServlet</servlet-class>
  </servlet>

  
  <servlet-mapping>
  	<servlet-name>TbUsercontroller</servlet-name>
  	<url-pattern>/TbUser.do</url-pattern>
  </servlet-mapping>
  
  
</web-app>